html {}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 100%;
    border: 0;
    border: 0px solid red;
}

body {
    font-family: 'Vollkorn', serif;
    color: #1F1F1F;
}

@media only screen and (min-width: 320px) {
    body {
        font-size: 14px;
        font-family: 'Monda', sans-serif;
        background-color: #ffffff;
    }
    header {
        position: fixed;
        top: 0px;
        left: 0px;
        height: 45px;
        width: 100%;
        z-index: 1;
        background-color: #69D2E7;
        border-bottom: 3px solid #68baca;
    }
    header img {
        margin: 10px .3rem 10px 0;
        float: right;
    }
    header a:nth-of-type(2) img {
        margin: 10px 1rem 10px 0;
    }
    header.foreman-header img {
        margin: 10px 4%;
        float: right;
    }
    header.foreman-header a:first-child img {
        margin: 10px 3%;
        float: left;
    }
    header.foreman-header a:nth-of-type(2) img {
        margin-right: 2%;
    }
    h1 {
        font-size: 1.5rem;
        font-family: 'Monda', sans-serif;
        font-weight: normal;
        float: left;
        margin: 10px 0 0 .75rem;
        color: #fff;
        text-shadow: 1px 1px 0 #156d7f;
    }
    header.foreman-header h1 {
        font-size: 1.3rem;
        float: left;
        color: #ffffff;
        text-shadow: 1px 1px 0 #1f1f1f;
        margin: 12px 0 10px .3rem;
    }
    h3 {
        font-size: 1rem;
        padding: 1rem 0;
    }
    h2 {
        font-size: 1.1rem;
        padding: .5rem 0 0;
    }
    main {
        width: 100%;
        padding: 50px 10px;
        font-size: 1rem;
    }
    p {
        margin-top: 10px;
    }
    form {
        margin-top: 2rem;
        padding: 0 1.5rem;
    }
    label {
        font-size: 1.1rem;
    }
    form div {
        margin-top: 2rem;
    }
    form div input,
    form div select,
    p.auto-pop-site-name {
        background-color: #E0E4CC;
        height: 2rem;
        width: 100%;
        border-bottom: 1px solid #A7DBD8;
        border-right: 1px solid #A7DBD8;
        padding: 0 0 0 5px;
        margin-top: .7rem;
    }
    form div input:first-of-type {
        margin-top: .3rem;
    }
    .buttons {
        width: 100%;
        text-align: center;
        margin: 2.5rem auto;
    }
    button {
        display: inline-block;
        margin: 0 8%;
        padding: 13px;
        font-family: 'Monda', sans-serif;
        color: #1f1f1f;
        background-color: #F38630;
        border-radius: 10px;
        border-bottom: 1px solid #A7DBD8;
        border-right: 1px solid #A7DBD8;
    }
    .button-delete {
        background-color: #bd0000;
        color: #ffffff;
    }
    button:hover {
        background-color: #FA6900;
    }
    .button-delete:hover {
        background-color: #000000;
    }
    button:active {
        box-shadow: inset 3px 3px 3px #1F1F1F;
    }
    button:focus {
        outline: none;
    }
    a {
        color: #1f1f1f;
    }
    .ops-nav {
        position: fixed;
        bottom: 0px;
        left: 0px;
        height: 40px;
        width: 100%;
        text-align: center;
        z-index: 1;
        background-color: #69D2E7;
        border-top: 3px solid #68baca;
    }
    /*    USER LOGIN */
    .user-login-container p {
        margin-top: 2.5rem;
        text-align: center;
    }
    .user-login-container p+p {
        margin-top: 1.75rem;
    }
    .user-login-container form {
        border: 2px solid #A7DBD8;
        margin-top: 2.5rem;
        padding: 0 1.5rem;
        height: 19rem;
        font-size: .9rem;
    }
    .user-login-container a {
        color: #20aac5;
    }
    .user-login-container a:hover {
        color: #FA6900;
    }
    /*    USER RESET PASSWORD*/
    .user-reset-password-container div p {
        width: 85%;
        margin: 1rem auto;
    }
    .user-reset-password-container hr {
        width: 85%;
        margin: 1.5rem auto;
    }
    /* USER CREATE ACCOUNT */
    .user-create-account-container form {
        padding: 0;
    }
    /* USER ACCOUNT INFO */
    .user-account-info-container hr {
        width: 85%;
        margin: 1.5rem auto;
    }
    .user-account-info-container form {
        padding: 0;
    }
    /* OPERATOR INPUT PIGGING*/
    .operator-input-pigging-container {
        padding-top: 30px;
        padding-left: 5px;
    }
    .operator-input-pigging-container form input[type='date'] {
        width: 175px;
    }
    .operator-input-pigging-container form p:not(.auto-pop-site-name) {
        font-size: 1rem;
        margin-top: 1rem;
    }
    .operator-input-pigging-container form div {
        margin-top: 0;
    }
    .operator-input-pigging-container form div input[type='radio'],
    .operator-input-pigging-container form div label {
        height: auto;
        width: auto;
        vertical-align: baseline;
        margin: 1rem .5rem 0 0;
    }
    .operator-input-pigging-container form div span {
        display: inline-block;
        width: 100px;
        margin-left: 10px;
    }
    .operator-input-pigging-container form div.input-debris span:nth-child(even) {
        width: 80px;
        margin-left: 30px;
    }
    .operator-input-pigging-container form input[type='number'],
    .operator-input-pigging-container form input[type='time'] {
        width: 125px;
        vertical-align: baseline;
        text-align: right;
        padding-right: 20px;
    }
    .operator-input-pigging-container form div.input-debris input[type='number'] {
        width: 70px;
    }
    .operator-input-pigging-container form div.select-receive label {
        font-size: 1rem;
    }
    .operator-input-pigging-container form div.textarea {
        margin: 2rem 0;
        width: 100%;
        text-align: left;
        padding: 7px;
        border: 2px solid #A7DBD8;
        background-color: #FFF8DC;
    }
    .operator-input-pigging-container form textarea {
        resize: none;
        font-size: 1rem;
        background-color: #FFF8DC;
    }
    /* PIGGING SCHEDULE*/
    .pigging-schedule-container form {
        margin-top: 0;
        padding: .7rem;
        font-size: .9rem;
        width: 100%;
        position: fixed;
        top: 45px;
        left: 0;
        z-index: 1;
        background-color: #ffffff;
    }
    .pigging-schedule-container form div {
        margin: 0;
        display: inline-block;
        width: 72%;
    }
    .pigging-schedule-container form div select {
        margin: 0;
    }
    .pigging-schedule-container form div+div {
        width: 25%;
    }
    .pigging-schedule-container button {
        margin: 0;
        padding: 0;
        border-radius: 6px;
        width: 100%;
        height: 2rem;
    }
    .pigging-schedule-container hr {
        margin: 10px 0 0;
    }
    .pigging-schedule-container div.schedule-results {
        margin: 4rem 0 2rem;
        padding-left: 10px;
    }
    .pigging-schedule-container div.schedule-results span {
        display: inline-block;
        margin-bottom: 8px;
    }
    .pigging-schedule-container span.due today {
        background-color: #ffffff;
    }
    .pigging-schedule-container span.due-in-seven {
        background-color: #ffe552;
    }
    .pigging-schedule-container span.overdue-within-thirty {
        background-color: #ee7777;
    }
    .pigging-schedule-container span.overdue-plus-thirty {
        background-color: #c0c0c0;
    }
    /* PREVIOUS LAUNCH */
    .prev-launch-container hr {
        margin: 10px 0 0;
    }
    .prev-launch-container div+div {
        margin-top: 3rem;
    }
    .prev-launch-container span:nth-child(2) {
        color: #FA6900;
    }
    .prev-launch-container span.debris-lbs {
        margin: 0 10px;
        color: #FA6900;
    }
    .prev-launch-container p.notes {
        color: #F38630;
    }
    /* FOREMAN ADMIN MENU*/
    main.foreman-admin-menu-container {
        margin-top: 1rem;
    }
    .foreman-admin-menu-container div p {
        margin: 0 auto 1rem;
        padding: 13px;
        color: #1f1f1f;
        background-color: #F38630;
        border-radius: 10px;
        border-bottom: 1px solid #A7DBD8;
        border-right: 1px solid #A7DBD8;
    }
    .foreman-admin-menu-container div a {
        text-decoration: none;
    }
    /* DEBRIS REPORTS*/
    .debris-report-container hr {
        margin: 10px 0 0;
    }
    main.debris-report-container {
        padding-top: 2rem;
    }
    .debris-report-container div.debris-results-header {
        position: fixed;
        top: 45px;
        left: 0;
        width: 100%;
        z-index: 1;
        padding: 10px;
        background-color: #ffffff;
    }
    .debris-report-container div.debris-results-header div.debris-results {
        margin: 1rem auto 0;
        padding: 0;
    }
    .debris-report-container form div input[type='radio'] {
        height: auto;
        width: auto;
        vertical-align: baseline;
        margin: 0;
    }
    .debris-report-container form div label {
        margin-left: 10px;
    }
    .debris-report-container form div div,
    .debris-report-container form div select {
        margin-top: .5rem
    }
    .debris-report-container form {
        padding: 0;
    }
    .debris-report-container div.debris-results-header h3 {
        padding-bottom: 0;
    }
    .debris-report-container div.debris-results div>div>h3 {
        padding: 0 0;
    }
    .debris-report-container div.debris-results-header hr {
        margin: 10px 0 0;
    }
    .debris-report-container div.debris-results {
        margin-top: 6.5rem;
    }
    .debris-report-container div.debris-results div {
        width: 100%;
        padding-bottom: 5px;
    }
    .debris-report-container div.debris-results>div:last-child {
        margin-bottom: 5rem;
    }
    .debris-report-container div.debris-results>div {
        border-bottom: 1px solid #A7DBD8;
    }
    .debris-report-container div.debris-results-header div>div,
    .debris-report-container div.debris-results div>div {
        display: inline-block;
    }
    .debris-report-container div.debris-results-header div div:first-child,
    .debris-report-container div.debris-results div div:first-child {
        width: 20%;
        text-align: right;
    }
    .debris-report-container div.debris-results-header div div:not(first-child),
    .debris-report-container div.debris-results div div:not(first-child) {
        width: 38%;
        text-align: center;
    }
    .debris-report-container div.submit-reset {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        text-align: center;
        z-index: 1;
        margin: 0 auto;
        padding: 1rem 0 .5rem;
        background-color: #ffffff;
    }
    /*FOREMAN PIGGING ACTIVITY*/
    .foreman-pigging-activity-container div.submit-reset {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        text-align: center;
        z-index: 1;
        margin: 0 auto;
        padding: 1rem 0 .5rem;
        background-color: #ffffff;
    }
    .foreman-pigging-activity-container input[type='radio'] {
        height: auto;
        width: auto;
        vertical-align: baseline;
        margin: 0;
    }
    .foreman-pigging-activity-container h3+p {
        text-align: center;
        width: 85%;
        margin: auto;
        padding-bottom: .5rem;
        border-bottom: 2px solid #A7DBD8;
    }
    .foreman-pigging-activity-container div div,
    .foreman-pigging-activity-container div select {
        margin-top: .5rem
    }
    .foreman-pigging-activity-container div.pigging-activity-results div:first-child {
        position: fixed;
        width: 100%;
        top: 37px;
        left: 0;
        z-index: 1;
        padding-left: 10px;
        background-color: #ffffff;
    }
    .foreman-pigging-activity-container div.months-pigs {
        margin: 90px 0 50px;
        padding-left: 1rem;
    }
    .foreman-pigging-activity-container div.months-pigs p {
        margin-bottom: .75rem;
    }
    .foreman-pigging-activity-container div.months-pigs p span {
        display: inline-block;
        margin-left: 1rem;
        background-color: #ffe552;
        text-align: right;
        padding: 3px;
    }
    /* FOREMAN VIEW HISTORY */
    main.foreman-view-history-container {
        padding: 30px 10px;
    }
    .foreman-view-history-container div.submit-reset {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        text-align: center;
        z-index: 1;
        margin: 0 auto;
        padding: 1rem 0 .5rem;
        background-color: #ffffff;
    }
    .foreman-view-history-container form {
        padding: 0;
    }
    .foreman-view-history-container div+div {
        margin: 0 0 1rem;
    }
    .foreman-view-history-container form div label {
        font-size: 1rem;
    }
    .foreman-view-history-container form div label+input {
        width: 2rem;
    }
    .foreman-view-history-container div.history-results p {
        margin-bottom: 1rem;
    }
    .foreman-view-history-container div.history-results div:first-child {
        position: fixed;
        width: 100%;
        top: 44px;
        left: 0;
        z-index: 1;
        padding-left: 10px;
        background-color: #ffffff;
    }
    .foreman-view-history-container div.history-results div:nth-child(even) {
        background-color: #f5f5f5;
    }
    .foreman-view-history-container div.history-results p span {
        color: #F38630;
    }
    .foreman-view-history-container div.history-results h3+p {
        color: #68baca;
        padding-bottom: .5rem;
        margin-bottom: 0;
    }
    .foreman-view-history-container div.activity-records {
        padding: 0 5px;
    }
    .foreman-view-history-container div.activity-records p:last-child {
        padding-bottom: 3rem;
    }
    /* FOREMAN UPDATE HISTORY  */
    .foreman-update-history-container form p {
        font-size: 1rem;
        margin-top: 1rem;
    }
    .foreman-update-history-container form div {
        margin-top: 0;
    }
    .foreman-update-history-container div.warning {
        margin: 1rem auto;
        text-align: center;
        color: #bd0000;
        border: 2px solid #bd0000;
        padding: .5rem;
    }
    .foreman-update-history-container form input[type='date'] {
        width: 175px;
    }
    .foreman-update-history-container form div input[type='radio'],
    .foreman-update-history-container form div label {
        height: auto;
        width: auto;
        vertical-align: baseline;
        margin: 1rem .5rem 0 0;
    }
    .foreman-update-history-container form div span {
        display: inline-block;
        width: 100px;
        margin-left: 10px;
    }
    .foreman-update-history-container form div.input-debris span:nth-child(even) {
        width: 80px;
        margin-left: 30px;
    }
    .foreman-update-history-container form input[type='number'],
    .foreman-update-history-container form input[type='time'] {
        width: 125px;
        vertical-align: baseline;
        text-align: right;
        padding-right: 20px;
    }
    .foreman-update-history-container form div.input-debris input[type='number'] {
        width: 70px;
    }
    .foreman-update-history-container form div.select-receive label {
        font-size: 1rem;
    }
    .foreman-update-history-container form div.textarea {
        margin: 2rem 0;
        width: 100%;
        text-align: left;
        padding: 7px;
        border: 2px solid #A7DBD8;
        background-color: #FFF8DC;
    }
    .foreman-update-history-container form textarea {
        resize: none;
        font-size: 1rem;
        background-color: #FFF8DC;
    }
    .foreman-update-history-container div.submit-cancel-delete {
        width: 100%;
        text-align: center;
    }
    .foreman-update-history-container div.submit-cancel-delete button {
        margin: 0 2%;
    }
    /* FOREMAN ADD PIPELINE */
    .foreman-add-pipeline-container {
        padding-top: 1rem;
    }
    .foreman-add-pipeline-container form {
        padding: 0;
    }
    .foreman-add-pipeline-container form div {
        margin-top: 0;
    }
    .foreman-add-pipeline-container form div select,
    .foreman-add-pipeline-container form div input {
        margin-top: 1rem;
    }
    .foreman-add-pipeline-container form label {
        font-size: 1rem;
        padding-right: 5px;
    }
    .foreman-add-pipeline-container form input {
        vertical-align: baseline;
    }
    .foreman-add-pipeline-container form input[type='number'] {
        vertical-align: baseline;
        text-align: center;
        width: 3.5rem;
        margin: 1rem 0 0;
        padding-right: 0;
    }
    .foreman-add-pipeline-container form input[type='date'] {
        width: 175px;
    }
    .foreman-add-pipeline-container form select.select-closure {
        width: 200px;
        vertical-align: baseline;
        margin: 1rem 0 0;
    }
    .foreman-add-pipeline-container form p {
        display: inline-block;
        margin: 2rem .5rem 0 0;
        font-weight: bold;
    }
    .foreman-add-pipeline-container form div div p {
        margin: 1rem .5rem 0 0;
    }
    .foreman-add-pipeline-container div.checkboxes-pigs div {
        display: inline-block;
        width: 49%;
    }
    .foreman-add-pipeline-container div.checkboxes-product div {
        display: inline-block;
        width: auto;
        padding-right: 1rem;
    }
    .foreman-add-pipeline-container div.checkboxes-product div:last-of-type {
        padding-right: 0;
    }
    .foreman-add-pipeline-container form input[type='checkbox'] {
        height: auto;
        width: auto;
        vertical-align: baseline;
        margin: 1rem 0 0;
    }
    .foreman-add-pipeline-container form input[type='checkbox']+label {
        padding-left: 5px;
    }
    .foreman-add-pipeline-container div.warning {
        margin: 1rem auto;
        text-align: center;
        color: #bd0000;
        border: 2px solid #bd0000;
        padding: .5rem;
    }
    /* FOREMAN UPDATE PIPELINE */
    .foreman-update-pipeline-container {
        padding-top: 1rem;
    }
    .foreman-update-pipeline-container form {
        padding: 0;
    }
    .foreman-update-pipeline-container form div {
        margin-top: 0;
    }
    .foreman-update-pipeline-container form div select,
    .foreman-update-pipeline-container form div input {
        margin-top: 1rem;
    }
    .foreman-update-pipeline-container form label {
        font-size: 1rem;
        padding-right: 5px;
    }
    .foreman-update-pipeline-container form input {
        vertical-align: baseline;
    }
    .foreman-update-pipeline-container form input[type='number'] {
        width: 3.5rem;
        margin: 1rem 0 0;
        padding-right: 0;
    }
    .foreman-update-pipeline-container form p {
        display: inline-block;
        margin: 2rem .5rem 0 0;
        font-weight: bold;
    }
    .foreman-update-pipeline-container form div div p {
        margin: 1rem .5rem 0 0;
    }
    .foreman-update-pipeline-container div.checkboxes-pigs div {
        display: inline-block;
        width: 49%;
    }
    .foreman-update-pipeline-container form div.checkboxes-product {
        padding-bottom: 2.5rem;
    }
    .foreman-update-pipeline-container div.checkboxes-product div {
        display: inline-block;
        width: auto;
        padding-right: 1rem;
    }
    .foreman-update-pipeline-container form div.checkboxes-product div:last-of-type {
        padding-right: 0;
    }
    .foreman-update-pipeline-container form select:last-of-type {
        width: 200px;
        vertical-align: baseline;
        margin: 1rem 0 0;
    }
    .foreman-update-pipeline-container form input[type='checkbox'] {
        height: auto;
        width: auto;
        vertical-align: baseline;
        margin: 1rem 0 0;
    }
    .foreman-update-pipeline-container form input[type='checkbox']+label {
        padding-left: 5px;
    }
    .foreman-update-pipeline-container div.warning {
        margin: 1rem auto;
        text-align: center;
        color: #bd0000;
        border: 2px solid #bd0000;
        padding: .5rem;
    }
    .foreman-update-pipeline-container div.submit-cancel-delete {
        width: 100%;
        text-align: center;
    }
    .foreman-update-pipeline-container div.submit-cancel-delete button {
        margin: 0 2%;
    }
    /* FOREMAN ADD USER */
    .foreman-assign-user-role-container form {
        margin-top: 2rem;
        padding: 0;
    }
    .foreman-assign-user-role-container form div {
        margin-top: 1rem;
        padding: 0px;
    }
    .foreman-assign-user-role-container form div input[type='radio'] {
        height: auto;
        width: auto;
        vertical-align: baseline;
        margin: 0 0 0 1rem;
        padding: 0px;
    }
    .foreman-assign-user-role-container form div label {
        vertical-align: baseline;
        margin-left: .5rem;
        padding: 0px;
        font-size: 1rem;
    }
    /* FOREMAN UPDATE USER */
    .foreman-update-user-container form {
        margin-top: 2rem;
        padding: 0;
    }
    .foreman-update-user-container form div {
        margin-top: 1rem;
        padding: 0px;
    }
    .foreman-update-user-container form p {
        font-weight: bolder;
    }
    .foreman-update-user-container form p:nth-of-type(2) {
        margin-top: 2rem;
    }
    .foreman-update-user-container form div input[type='radio'] {
        height: auto;
        width: auto;
        vertical-align: baseline;
        margin: 0 0 0 1rem;
        padding: 0px;
    }
    .foreman-update-user-container form div label {
        vertical-align: baseline;
        margin-left: .5rem;
        padding: 0px;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 375px) {
    body {
        background-color: aliceblue;
        font-size: 16px;
    }
    header.foreman-header h1 {
        font-size: 1.5rem;
    }
    main {
        padding: 50px 15px;
        width: 350px;
        margin: auto;
    }
    form div input,
    form div select,
    p.auto-pop-site-name {
        width: 100%;
        padding: 0;
        margin-top: 1rem;
    }
    /* OPERATOR INPUT PIGGING*/
    .operator-input-pigging-container {
        padding: 30px 0;
    }
    /* PIGGING SCHEDULE*/
    .pigging-schedule-container form {
        font-size: 1rem;
    }
    .pigging-schedule-container form div {
        margin: 0;
        display: inline-block;
    }
    .pigging-schedule-container form div select {
        margin: 0;
        width: 100%;
    }
}

@media only screen and (min-width: 414px) {
    body {
        background-color: blueviolet;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color: skyblue;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        background-color: blue;
    }
}
