html {}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 100%;
    border: 0;
    border: 0px solid red;
}

body {
    background-color: #FFFFFF;
    font-family: 'Vollkorn', serif;
    color: #1F1F1F;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

@media only screen and (min-width: 320px) {
    body {
        font-size: 14px;
        font-family: 'Monda', sans-serif;
    }
    header {
        position: fixed;
        top: 0px;
        left: 0px;
        height: 45px;
        width: 100%;
        z-index: 1;
        background-color: #69D2E7;
        border-bottom: 3px solid #68baca;
    }
    header img {
        margin: 10px 1rem;
        float: right;
    }
    header .tooltip .tooltiptext {
        visibility: hidden;
        background-color: #FFF8DC;
        text-align: center;
        padding: 5px;
        position: absolute;
        top: 40px;
        font-size: .85rem;
    }
    header .tooltip .ttt2 {
        right: 50px;
    }
    header .tooltip .ttt1 {
        right: 10px;
    }
    header .tooltip:hover .tooltiptext {
        visibility: visible;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    h3 {
        font-size: 1.5rem;
        font-family: 'Monda', sans-serif;
        font-weight: normal;
        float: left;
        margin: .5rem 0 0 .75rem;
        color: #fff;
        text-shadow: 1px 1px 0 #156d7f;
    }
    main {
        width: 100%;
        padding: 50px 10px;
        font-size: 1rem;
    }
    p {
        margin-top: 10px;
    }
    form {
        margin-top: 2rem;
        padding: 0 1.5rem;
        font-size: .9rem;
    }
    label {
        font-size: 1.1rem;
    }
    form div {
        margin-top: 2rem;
    }
    form div input,
    form div select,
    p.auto-pop-site-name {
        background-color: #E0E4CC;
        height: 2rem;
        width: 100%;
        border-bottom: 1px solid #A7DBD8;
        border-right: 1px solid #A7DBD8;
        padding: 0 0 0 5px;
        margin-top: .7rem;
    }
    form div input:first-of-type {
        margin-top: .3rem;
    }
    .buttons {
        width: 100%;
        text-align: center;
        margin: 2.5rem auto;
    }
    button {
        display: inline-block;
        margin: 0 8.5%;
        padding: 13px;
        font-family: 'Monda', sans-serif;
        color: #000;
        background-color: #F38630;
        border-radius: 28px;
        border-bottom: 1px solid #A7DBD8;
        border-right: 1px solid #A7DBD8;
    }
    button:hover {
        background-color: #FA6900;
    }
    button:active {
        box-shadow: inset 3px 3px 3px #1F1F1F;
    }
    button:focus {
        outline: none;
    }
    a {
        color: #20aac5;
    }
    a:hover {
        color: #FA6900;
    }
    /*    USER LOGIN */
    .user-login-container p {
        margin-top: 2.5rem;
        text-align: center;
    }
    .user-login-container p+p {
        margin-top: 1.75rem;
    }
    .user-login-container form {
        border: 2px solid #A7DBD8;
        margin-top: 2.5rem;
        padding: 0 1.5rem;
        height: 19rem;
        font-size: .9rem;
    }
    /*    USER RESET PASSWORD*/
    .user-reset-password-container hr {
        width: 85%;
        margin: 1.5rem auto;
    }
    /*    USER CREATE ACCOUNT*/
    /*    USER VIEW/UPDATE ACCOUNT*/
    .user-account-info-container hr {
        width: 85%;
        margin: 1.5rem auto;
    }
    /*    OPERATOR INPUT PIGGING*/
    .operator-input-pigging-container {
        padding-top: 30px;
        padding-left: 5px;
    }
    .operator-input-pigging-container form input[type='date'] {
        width: 175px;
    }
    .operator-input-pigging-container form p:not(.auto-pop-site-name) {
        font-size: 1rem;
        margin-top: 1rem;
    }
    .operator-input-pigging-container form div {
        margin-top: 0;
    }
    .operator-input-pigging-container form div input[type='radio'],
    .operator-input-pigging-container form div label {
        height: auto;
        width: auto;
        vertical-align: baseline;
        margin: 1rem .5rem 0 0;
    }
    .operator-input-pigging-container form div.select-launch {}
    .operator-input-pigging-container form div span {
        display: inline-block;
        width: 100px;
        margin-left: 10px;
    }
    .operator-input-pigging-container form div input[type='checkbox'] {
        height: auto;
        width: auto;
        vertical-align: baseline;
        margin: 1.1rem 5px 1rem 5px;
    }
    .operator-input-pigging-container form input[type='number'],
    .operator-input-pigging-container form input[type='time'] {
        width: 125px;
        vertical-align: baseline;
        text-align: right;
        padding-right: 20px;
    }
    .operator-input-pigging-container form div.input-debris input[type='number'] {
        width: 75px;
    }
    .operator-input-pigging-container form div.select-receive label {
        font-size: 1rem;
    }
    .operator-input-pigging-container form div.textarea {
        margin-top: 2rem;
        width: 100%;
        text-align: left;
        padding: 7px;
        border: 2px solid #A7DBD8;
        background-color: #FFF8DC;
    }
    .operator-input-pigging-container form textarea {
        text-align: left;
        resize: none;
        font-size: 1rem;
        background-color: #FFF8DC;
    }
    .operator-input-pigging-container form div.select-exception {}
    .operator-schedule-container {}
    .operator-prev-launch-container {}
    .foreman-admin-menu-container {}
    .foreman-schedule-container {}
    .foreman-prev-launch-container {}
    .foreman-debris-reports-container {}
    .foreman-pigging-activity-container {}
    .foreman-view-history-container {}
    .foreman-update-history-container {}
    .foreman-add-pipeline-container {}
    .foreman-update-pipeline-container {}
    .foreman-assign-user-role-container {}
    .foreman-update-user-container {}
    .viewonly-schedule-container {}
    .viewonly-debris-container {}
    footer {}
}

@media only screen and (min-width: 414px) {
    body {
        background-color: antiquewhite;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color: aliceblue;
    }
}
