* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 100%;
    border: 0;
}


/*   REMINDER: FIX THE MARGINS ON THE ADD USER / UPDATE USER PAGES -- AND SEEMS TO NEED CORRECTIONS ON SOME OTHER PAGES AS WELL   */

@media only screen and (min-width: 200px) {
    body {
        font-size: 16px;
        font-family: 'Monda', sans-serif;
        background-color: #ffffff;
    }
    main {
        position: relative;
        width: 100%;
        /*        padding: 0 10px;*/
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        height: 45px;
        width: 100%;
        padding: 8px;
        z-index: 2;
        background-color: #69D2E7;
        border-bottom: 3px solid #68baca;
    }
    header h1 {
        font-size: 1.3rem;
        float: left;
        margin: 0 auto;
        color: #fff;
        text-shadow: 1px 1px 0 #1f1f1f;
    }
    header div div {
        width: 67px;
        float: right;
    }
    header img:hover {
        cursor: pointer;
    }
    header img:first-of-type {
        margin-right: 13px;
    }
    header.foreman-header h1 {
        font-size: 1.2rem;
    }
    header.foreman-header img:first-of-type {
        float: left;
        margin-right: 10px;
    }
    section {
        margin-top: 45px;
    }
    section::-webkit-scrollbar {
        width: .5em;
    }
    section::-webkit-scrollbar-thumb {
        background-color: darkgrey;
    }
    h3 {
        font-size: 1rem;
        padding: 1rem 0;
    }
    h2 {
        font-size: 1.2rem;
        font-weight: normal;
        padding: .5rem 0 0;
    }

    input:focus {
        background-color: #69D2E7;
    }
    form div input,
    form div select,
    p.auto-pop-site-name {
        background-color: #E0E4CC;
        height: 2rem;
        width: 100%;
        border-bottom: 1px solid #A7DBD8;
        border-right: 1px solid #A7DBD8;
        padding: 0 .5rem;
        margin-top: .7rem;
        font-size: .9rem;
    }
    p.auto-pop-site-name {
        padding-top: .6rem;
    }
    form div input:first-of-type {
        margin-top: .3rem;
    }

    .buttons {
        width: 100%;
        text-align: center;
        margin: 2rem auto 0;
    }
    button {
        display: inline-block;
        margin: 0 25px;
        padding: 13px;
        font-family: 'Monda', sans-serif;
        color: #1f1f1f;
        background-color: #F38630;
        border-radius: 10px;
        border-bottom: 1px solid #A7DBD8;
        border-right: 1px solid #A7DBD8;
    }
    .button-delete {
        background-color: #bd0000;
        color: #ffffff;
    }
    button:hover {
        background-color: #FA6900;
        cursor: pointer;
    }
    .button-delete:hover {
        background-color: #000000;
    }
    button:active {
        box-shadow: inset 3px 3px 3px #1F1F1F;
    }
    a {
        color: #1f1f1f;
    }
    div.ops-nav {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 60px;
        width: 100%;
        text-align: center;
        padding-top: .5rem;
        z-index: 1;
        color: #1f1f1f;
        background-color: #69D2E7;
        border-top: 3px solid #68baca;
    }
    div.ops-nav div {
        display: inline-block;
        padding: 13px;
        border-radius: 25px;
        border: 1px solid #ffffff;
        cursor: pointer;
    }
    div.ops-nav div:hover {
        background-color: #F38630;
        cursor: pointer;
    }
    .ops-nav div a {
        text-decoration: none;
    }
    /*    USER LOGIN */
    .user-login-container form {
        border: 1px solid #A7DBD8;
        padding: 1rem;
    }
    .user-login-container form#userLogin {
        margin-top: 65px;
    }
    .user-login-container form div + div {
        margin-top: 1.5rem;
    }
    .user-login-container form + div {
        margin-top: 2rem;
    }
    .user-login-container p {
        text-align: center;
        margin: 1.5rem 0;
    }
    .user-login-container a {
        color: #20aac5;
    }
    .user-login-container a:hover {
        color: #FA6900;
    }
    .user-login-container .buttons {
        margin: 2rem auto 0;
    }
    /*    USER RESET PASSWORD*/
    .user-reset-password-container form {
        padding: 0 1rem;
    }
    .user-reset-password-container div p {
        margin: 1rem;
    }
    .user-reset-password-container hr {
        width: 85%;
        margin: 1.5rem auto;
    }
    /* USER CREATE ACCOUNT */
    .user-create-account-container p {
        margin: 1rem 0 2rem;
        color: red;
    }
    form#userCreateAcct > div + div {
        margin-top: 2rem;
    }
    /* USER UPDATE ACCOUNT INFO */
    .user-update-account-container p {
        margin: 1rem 0;
    }
    .user-update-account-container hr {
        width: 85%;
        margin: 1.5rem auto;
    }
    form#userUpdateAcct > div {
        margin-top: 2rem;
    }
    .user-update-account-container div.buttons {
        margin: 2rem auto;
    }
    /* OPERATOR INPUT PIGGING*/
    #pageInputPigging section {
        padding-bottom: 0;
    }
    .input-pigging-container form input[type='date'] {
        width: 175px;
    }
    .input-pigging-container form p:not(.auto-pop-site-name) {
        font-size: 1rem;
        margin-top: 1rem;
    }
    .input-pigging-container form div {
        margin-top: 0;
    }
    .input-pigging-container form div input[type='radio'],
    .input-pigging-container form div label {
        height: auto;
        width: auto;
        vertical-align: baseline;
        margin: 1rem .5rem 0 0;
    }
    .input-pigging-container form div span {
        display: inline-block;
        width: 100px;
        margin-left: 10px;
    }
    .input-pigging-container div.input-debris {
        width: 79%;
    }
    .input-pigging-container form div.input-debris span:nth-child(even) {
        width: 80px;
        margin-left: 30px;
    }
    .input-pigging-container form input[type='number'],
    .input-pigging-container form input[type='time'] {
        width: 125px;
        vertical-align: baseline;
        text-align: right;
        padding-right: 0;
    }

    .input-pigging-container form div.input-debris input[type='number'] {
        width: 70px;
    }
    .input-pigging-container form div.select-receive label {
        font-size: 1rem;
    }
    .input-pigging-container form div.textarea {
        margin: 2rem 0;
        width: 100%;
        text-align: left;
        padding: .5rem;
        border: 1px solid #A7DBD8;
        background-color: #FFF8DC;
    }
    .input-pigging-container form textarea {
        resize: none;
        width: 100%;
        font-size: 1rem;
        background-color: #FFF8DC;
    }
    .input-pigging-container div.buttons {
        margin: 2rem auto 75px;
    }
    /* PIGGING SCHEDULE*/
    .pigging-schedule-container form {
        margin-top: 0;
        padding: .7rem 0;
        width: 100%;
        position: fixed;
        top: 45px;
        left: 0;
        z-index: 1;
        background-color: #ffffff;
    }
    .pigging-schedule-container form div {
        margin: 0;
        display: inline-block;
        width: 73%;
    }
    .pigging-schedule-container form div select {
        font-size: .9rem;
        margin: 0;
        margin-left: 10px;
        vertical-align: baseline;
    }
    .pigging-schedule-container form div.button {
        width: 23%;
        /*        margin-left: 10px;*/
    }
    .pigging-schedule-container button {
        margin: 0;
        padding: 0;
        border-radius: 6px;
        width: 95%;
        height: 2.1rem;
        font-size: 1em;
    }
    .pigging-schedule-container hr {
        margin: 10px 0 20px;
    }
    .pigging-schedule-container div#legend {
        margin-bottom: 1.5rem;
    }
    .pigging-schedule-container div#legend div {
        padding: 3px;
        border: 1px dotted gray;
        font-size: .8rem;
    }
    .pigging-schedule-container div#legend div.due-today {
        width: 42%;
    }
    .pigging-schedule-container div#legend div.due-in-seven {
        width: 56%;
    }
    .pigging-schedule-container div#legend div.overdue-within-thirty {
        width: 56%;
    }
    .pigging-schedule-container div#legend div.overdue-plus-thirty {
        width: 42%;
    }
    .pigging-schedule-container div.schedule-results {
        width: 100%;
        margin-bottom: .25rem;
        z-index: -1;
    }
    .pigging-schedule-container div.schedule-results p {
        padding: 5px;
        cursor: pointer;
        display: inline-block;
        width: 70%;
        font-size: .9rem;
    }
    .pigging-schedule-container div.schedule-results p.date {
        cursor: default;
        width: 30%;
        text-align: right;
        font-size: .7rem;
        border-left: 1px dotted gray;
        vertical-align: baseline;
    }
    .pigging-schedule-container div.due-today {
        background-color: #ffffff;
    }
    .pigging-schedule-container div.due-in-seven {
        background-color: #ffe552;
    }
    .pigging-schedule-container div.upcoming {
        background-color: #a7dbd8;
    }
    .pigging-schedule-container div.overdue-within-thirty {
        background-color: #ee7777;
    }
    .pigging-schedule-container div.overdue-plus-thirty {
        background-color: #c0c0c0;
    }
    /* PREVIOUS LAUNCH */
    .prev-launch-container hr {
        width: 85%;
        margin: 1rem auto 2rem;
    }
    .prev-launch-container div + div {
        margin-top: 2rem;
    }
    .prev-launch-container p {
        margin-bottom: .3rem;
    }
    .prev-launch-container p > span:first-child {
        color: #088ba5;
    }
    .prev-launch-container span.debris-lbs {
        margin: 0 10px;
        color: #FA6900;
    }
    .prev-launch-container p.js-notesDate {
        padding: .2rem 0;
    }
    .prev-launch-container p.notes {
        padding-bottom: 1rem;
    }
    /* FOREMAN ADMIN MENU*/
    section.admin-menu-container {
        margin-top: 3.5rem;
    }
    .admin-menu-container div p {
        margin: 0 auto 1rem;
        padding: 13px;
        color: #1f1f1f;
        background-color: #F38630;
        border-radius: 10px;
        border-bottom: 1px solid #A7DBD8;
        border-right: 1px solid #A7DBD8;
        cursor: pointer;
    }
    .admin-menu-container div p:hover {
        background-color: #FA6900;
    }
    /* DEBRIS REPORTS*/
    .debris-report-container form div input[type='radio'] {
        height: auto;
        width: auto;
        vertical-align: baseline;
        margin: 1.5rem 10px 0 0;
    }
    .debris-report-container div.debris-results h3 {
        padding: 0;
    }
    .debris-report-container hr {
        margin: 10px 0 0;
    }
    .debris-report-container div.debris-results-header {
        position: fixed;
        /*        top: 45px;*/
        left: 0;
        width: 100%;
        z-index: 1;
        padding: 10px;
        text-align: center;
        background-color: #ffffff;
    }
    .debris-report-container div.debris-results-header h3 {
        padding: 1rem 0 0;
    }
    .debris-report-container div.debris-results-header > h3 {
        padding-bottom: .5rem;
        color: #69D2E7;
    }
    .debris-report-container div.debris-results {
        width: 100%;
        margin: 8rem 0;
    }
    .debris-report-container div.debris-results-header div > div,
    .debris-report-container div.debris-results-list div > div {
        display: inline-block;
        text-align: center;
    }
    .debris-report-container div.debris-results-list > div {
        padding: .5rem 0;
        border-bottom: 1px solid #A7DBD8;
    }
    .debris-report-container div.debris-results-header div > div,
    .debris-report-container div.debris-results-list div > div {
        width: 20%;
    }
    .debris-report-container div.debris-results-header div > div + div,
    .debris-report-container div.debris-results-list div > div + div {
        width: 38%;
    }
    .submit-reset {
        background-color: #ffffff;
        padding: 2rem 0;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .debris-report-container div.submit-reset {
        position: relative;
        border: none;
    }
    /*  PIGGING ACTIVITY  */
    .pigging-activity-container input[type='radio'] {
        height: auto;
        width: auto;
        vertical-align: baseline;
        margin: 2rem 0 0;
    }
    .pigging-activity-container form div select {
        margin-top: 1rem;
    }
    .pigging-activity-container div.pigging-activity-results div:first-child {
        position: fixed;
        top: 45px;
        left: 0px;
        width: 100%;
        text-align: center;
        z-index: 1;
        margin: 0 auto;
        padding: 0 .5rem .5rem;
        background-color: #ffffff;
    }
    .pigging-activity-container h3 + p {
        width: 85%;
        /*        text-align: center;*/
        margin: auto;
        padding: .5rem 0 .5rem;
        border-bottom: 1px solid #A7DBD8;
    }
    .pigging-activity-container div.months-pigs {
        margin: 6rem auto 0;
        padding-left: 1rem;
    }
    .pigging-activity-container div.months-pigs p {
        margin-bottom: .75rem;
    }
    .pigging-activity-container div.months-pigs p span {
        display: inline-block;
        margin-left: 1rem;
        background-color: #ffe552;
        text-align: right;
        padding: 3px;
    }
    .pigging-activity-container div.submit-reset {
        position: relative;
    }
    /*  VIEW HISTORY  */
    .view-history-container form div {
        margin: 1rem 0;
    }
    .view-history-container form label {
        font-size: 1rem;
        vertical-align: middle;
    }
    .view-history-container form input[type='number'] {
        width: 4rem;
        text-align: center;
        margin: 0 0 0 1rem;
    }
    .view-history-container div.history-results {
        margin: 6rem 0 75px;
    }
    .view-history-container div.history-results p {
        margin-bottom: 1rem;
    }
    .view-history-container div.history-results div:first-child {
        position: fixed;
        top: 45px;
        left: 0px;
        width: 100%;
        text-align: center;
        z-index: 1;
        margin: 0 auto;
        padding: 0 0 .5rem;
        background-color: #ffffff;
    }
    .view-history-container div.history-results div:nth-child(even) {
        background-color: #f5f5f5;
    }
    .view-history-container div.history-results h3 + p {
        width: 85%;
        color: #68baca;
        padding-bottom: .5rem;
        margin: 0 auto;
        border-bottom: 1px solid #A7DBD8;
    }
    .view-history-container div.activity-records {
        padding: 10px;
        border-bottom: 1px dashed #A7DBD8;
    }
    .view-history-container div.activity-records p span {
        color: #F38630;
    }
    .view-history-container div.activity-records p.history-record-id {
        cursor: pointer;
        text-decoration: underline #808080;
    }
    .view-history-container div.activity-records p.history-record-id span {
        color: #69D2E7;
    }
    .view-history-container div.submit-reset {
        position: fixed;
        bottom: 0px;
        left: 0px;
        z-index: 1;
        margin: 0 auto;
        padding: .75rem 0;
        border-top: 1px solid #E0E4CC;
    }
    .view-history-container form#piggingHistory div.submit-reset {
        position: relative;
        border-top: none;
        padding-top: 2rem;
    }
    /*  UPDATE HISTORY  */
    section.update-history-container {
        margin-bottom: 14.5vh;
    }
    .update-history-container p {
        font-size: 1rem;
        margin-top: 1rem;
    }
    .update-history-container form div {
        margin-top: 0;
    }
    .update-history-container div.warning {
        margin: 1rem auto;
        text-align: center;
        color: #bd0000;
        border: 1px solid #bd0000;
        padding: .5rem;
    }
    .update-history-container div.warning p {
        margin: .3rem;
    }
    .update-history-container form input[type='date'] {
        width: 175px;
    }
    .update-history-container form div input[type='radio'],
    .update-history-container form div label {
        height: auto;
        width: auto;
        vertical-align: baseline;
        margin: 1rem .5rem 0 0;
    }
    .update-history-container form div span {
        display: inline-block;
        width: 100px;
        margin-left: 10px;
    }
    .update-history-container form div.input-debris span:nth-child(even) {
        width: 80px;
        margin-left: 30px;
    }
    .update-history-container form input[type='number'],
    .update-history-container form input[type='time'] {
        width: 125px;
        vertical-align: baseline;
        text-align: right;
        padding-right: 0;
    }

    .update-history-container form div.input-debris input[type='number'] {
        width: 70px;
    }
    .update-history-container form div.select-receive label {
        font-size: 1rem;
    }
    .update-history-container form div.textarea {
        margin: 2rem 0 0;
        /*        width: 100%;*/
        text-align: left;
        padding: .5rem;
        border: 1px solid #A7DBD8;
        background-color: #FFF8DC;
    }
    .update-history-container form textarea {
        resize: none;
        width: 100%;
        font-size: 1rem;
        background-color: #FFF8DC;
    }
    .update-history-container div.submit-cancel-delete {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 14vh;
        min-height: 80px;
        text-align: center;
        z-index: 1;
        margin: 0 auto;
        padding: .75rem 0;
        background-color: #ffffff;
        border-top: 1px solid #E0E4CC;
    }
    .update-history-container div.submit-cancel-delete button {
        margin: 0 2%;
    }
    /* FOREMAN ADD PIPELINE */
    section.add-pipeline-container {
        margin-bottom: 14vh;
    }
    .add-pipeline-container form div select,
    .add-pipeline-container form div input {
        margin-top: 1rem;
    }
    .add-pipeline-container form label {
        font-size: 1rem;
        padding-right: 5px;
    }
    .add-pipeline-container form input {
        vertical-align: baseline;
    }
    .add-pipeline-container form input[type='number'] {
        vertical-align: baseline;
        text-align: center;
        width: 3.5rem;
        margin: 1rem 0 0;
        padding-right: 0;
    }
    .add-pipeline-container form input[type='date'] {
        width: 175px;
    }
    .add-pipeline-container form select.select-closure {
        width: 200px;
        vertical-align: baseline;
        margin: 1rem 0 0;
    }
    .add-pipeline-container form p {
        display: inline-block;
        margin: 2rem .5rem 0 0;
        font-weight: bold;
    }
    .add-pipeline-container form div div p {
        margin: 1rem .5rem 0 0;
    }
    .add-pipeline-container div.checkboxes-pigs div {
        display: inline-block;
        width: 49%;
    }
    .add-pipeline-container div.checkboxes-product div {
        display: inline-block;
        width: auto;
        padding-right: 1rem;
    }
    .add-pipeline-container div.checkboxes-product div:last-of-type {
        padding-right: 0;
    }
    .add-pipeline-container form input[type='checkbox'] {
        height: auto;
        width: auto;
        vertical-align: baseline;
        margin: 1rem 0 0;
    }
    .add-pipeline-container form input[type='checkbox'] + label {
        padding-left: 5px;
    }
    .add-pipeline-container div.warning {
        margin: 1rem auto;
        text-align: center;
        color: #bd0000;
        border: 1px solid #bd0000;
        padding: .5rem;
    }
    .add-pipeline-container div.submit-reset {
        position: fixed;
        bottom: 0px;
        left: 0px;
        height: 14vh;
        min-height: 80px;
        z-index: 1;
        padding: .75rem 0;
        border-top: 1px solid #E0E4CC;
    }
    /*  UPDATE PIPELINE */
    section.update-pipeline-container {
        margin-bottom: 14vh;
    }
    form#updateSearch {
        margin-top: 1.5rem;
    }
    .update-pipeline-container form div select,
    .update-pipeline-container form div input {
        margin-top: 1rem;
        vertical-align: baseline;
    }
    .update-pipeline-container form label {
        font-size: 1rem;
    }
    .update-pipeline-container form p {
        display: inline-block;
        margin: 2rem .5rem 0 0;
        font-weight: bold;
    }
    #updatePipeline > p:first-of-type {
        font-weight: normal;
        margin-top: 1rem;
    }
    .update-pipeline-container form input[type='number'] {
        width: 4rem;
    }
    .update-pipeline-container form div.warning p {
        margin: .25rem 0;
        font-weight: normal;
    }
    .update-pipeline-container div.checkboxes-pigs div {
        display: inline-block;
        width: 49%;
    }
    .update-pipeline-container div.checkboxes-product div {
        display: inline-block;
        width: auto;
        padding-right: 1rem;
    }
    .update-pipeline-container form div.checkboxes-product div:last-of-type {
        padding-right: 0;
    }
    /*
    .update-pipeline-container form select:last-of-type {
        width: 200px;
    }
*/
    .update-pipeline-container form input[type='checkbox'] {
        height: auto;
        width: auto;
    }
    .update-pipeline-container form input[type='checkbox'] + label {
        padding-left: 5px;
    }
    .update-pipeline-container div.warning {
        margin: 1rem auto;
        text-align: center;
        color: #bd0000;
        border: 1px solid #bd0000;
        padding: .5rem;
    }
    .update-pipeline-container div.warning p {
        margin: .3rem;
    }
    .update-pipeline-container div.submit-cancel-delete {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 14vh;
        min-height: 80px;
        text-align: center;
        z-index: 1;
        margin: 0 auto;
        padding: .75rem 0;
        background-color: #ffffff;
        border-top: 1px solid #E0E4CC;
    }
    .update-pipeline-container div.submit-cancel-delete button {
        margin: 0 2%;
    }
    /*  ADD USER */
    form.findUser {
        margin-top: 2rem;
    }
    form.assignRole div {
        margin-top: 1rem;
    }
    form.assignRole div:first-of-type {
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #E0E4CC;
    }
    form.assignRole div:first-of-type p {
        margin-bottom: 1rem;
    }
    form.assignRole input[type='radio'] {
        height: auto;
        width: auto;
        vertical-align: baseline;
        margin: 0 0 0 1rem;
        padding: 0px;
    }
    form.assignRole label {
        vertical-align: baseline;
        margin-left: .5rem;
        padding: 0px;
        font-size: 1rem;
    }


    .assign-user-role-container div.submit-cancel-delete {
        width: 100%;
        height: 14vh;
        min-height: 80px;
        text-align: center;
        padding: 1.5rem 0 1rem;
    }

    .assign-user-role-container div.submit-cancel-delete button {
        margin-left: 2%;
        margin-right: 2%
    }


    /*  ADMIN UPDATE USER */
    .update-user-container form.assignRole > p {
        font-weight: bolder;
    }
    .update-user-container form.assignRole > p:nth-of-type(2) {
        margin-top: 2rem;
    }
    /*  USER UPDATE ACCOUNT */
    .user-update-account-container form {
        margin-top: 3rem;
    }
    .user-update-account-container form div + div {
        margin-top: 1.75rem;
    }
}

@media only screen and (min-width: 375px) {
    main {
        width: 350px;
        margin: auto;
    }
    header > div {
        width: 350px;
        margin: auto;
    }
    header.foreman-header h1 {
        font-size: 1.25rem;
    }
    /* PIGGING SCHEDULE*/
    .pigging-schedule-container form {
        font-size: .9rem;
    }
    /*
    .pigging-schedule-container form div {
        margin: 0;
        display: inline-block;
        width: 73%;
    }
*/
    .pigging-schedule-container form div select {
        margin: 0;
        width: 100%;
    }
    /* DEBRIS REPORTS*/
    #pageDebrisReport section {
        padding: 10px;
    }
    .debris-report-container form {
        padding-top: 1rem;
    }
    .debris-report-container div.debris-results {
        margin-top: 0;
    }
    .debris-report-container div.debris-results-header {
        position: relative;
    }
}

@media only screen and (min-width: 414px) {
    main {
        border: 1px dashed #69D2E7;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    section {
        padding: 10px;
    }
    .user-create-account-container div.buttons {
        margin: 2rem auto;
    }
    .user-reset-password-container div.buttons {
        margin: 2rem auto;
    }
    .pigging-schedule-container form {
        position: sticky;
        top: 44px;
    }
    /*
    .pigging-schedule-container div.schedule-results {
        margin: 1rem 0;
    }
*/
    .pigging-activity-container div.pigging-activity-results div:first-child {
        position: sticky;
    }
    .pigging-activity-container div.months-pigs {
        margin: 1rem auto 0;
        padding-left: 1rem;
    }
    .view-history-container div.history-results div:first-child {
        position: sticky;
    }
    .view-history-container div.history-results {
        margin-top: 0;
    }
    .view-history-container div.submit-reset {
        padding: 0 0 .75rem;
        border-top: none;
    }
    .view-history-container div.submit-reset > div {
        width: 375px;
        margin: auto;
        padding-top: 1rem;
        border-top: 1px solid #E0E4CC;
    }
    .update-history-container div.submit-cancel-delete {
        padding: 0 0 .75rem;
        border-top: none;
    }
    .update-history-container div.submit-cancel-delete > div {
        width: 375px;
        margin: auto;
        padding-top: 1rem;
        border-top: 1px solid #E0E4CC;
    }
    .add-pipeline-container div.submit-reset {
        padding: 0 0 .75rem;
        border-top: none;
    }
    .add-pipeline-container div.submit-reset > div {
        width: 375px;
        margin: auto;
        padding-top: 1rem;
        border-top: 1px solid #E0E4CC;
    }
    .update-pipeline-container div.submit-cancel-delete {
        padding: 0 0 .75rem;
        border-top: none;
    }
    .update-pipeline-container div.submit-cancel-delete > div {
        width: 375px;
        margin: auto;
        padding-top: 1rem;
        border-top: 1px solid #E0E4CC;
    }
}

@media only screen and (min-width: 768px) {
    main {
        margin: 5vh auto;
        border: none;
    }
    header {
        position: relative;
        margin: 0 auto;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    header > div {
        width: auto;
    }
    section {
        width: 100%;
        margin-top: 0;
        border: 1px dashed #69D2E7;
        border-top: none;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    div.ops-nav {
        position: relative;
        top: -6px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        height: 65px;
    }
    /*    USER LOGIN    */
    section.user-login-container {
        border: 0;
        margin-top: 1rem;
    }
    .user-login-container form#userLogin {
        margin-top: 0;
    }
    /*    INPUT PIGGING   */
    .input-pigging-container div.buttons {
        margin: 2rem auto;
    }
    /*    ADMIN MENU   */
    section.admin-menu-container {
        margin-top: 0;
        padding-top: 1rem;
    }
    /*    PIGGING SCHEDULE   */
    #pagePiggingSchedule section {
        height: 70vh;
        /*        padding: 0;*/
        margin-bottom: 0;
        overflow-y: scroll;
    }
    .pigging-schedule-container form {
        top: 0;
    }
    /*
    .pigging-schedule-container div.schedule-results {
        padding: 0 0;
        margin-bottom: auto;
    }
*/
    /*    DEBRIS REPORT   */
    form#debrisReport {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .debris-report-container div.debris-results {
        width: 96%;
        margin: auto;
        padding-bottom: 0;
    }
    .debris-report-container div.debris-results-list {}
    /*    PIGGING ACTIVITY   */
    .pigging-activity-container div.pigging-activity-results div:first-child {
        position: relative;
        top: 0;
    }
    /*    VIEW HISTORY   */
    .view-history-container div.history-results {
        margin: 6rem 0 75px;
        margin-top: inherit;
        margin-bottom: 15vh;
    }
    .view-history-container div.history-results div:first-child {
        position: relative;
        top: 0;
    }
    .view-history-container div.submit-reset {
        height: 20vh;
        border: none;
    }
    /*   ADD PIPELINE   */
    .add-pipeline-container div.submit-reset > div {
        width: 350px;
        margin: auto;
    }
}

@media only screen and (min-width: 1024px) {
    main#pageLogin {
        margin: 5vh auto;
    }
    #pageUpdateAcct section {
        padding: 1rem 15px 0;
    }
    #pageInputPigging section {
        padding: 1rem 15px 0;
    }
    div.input-pigging-container form#inputPigging {
        margin-top: 0;
    }
    #pagePrevLaunch section {
        padding: 1rem 15px 2rem;
    }
}

main#description {
    border: 1px dashed #69D2E7;
    width: 75%;
    font-family: 'Arial', sans-serif;
}

section.description {
    width: 75%;
    border: 0;
    margin: auto;
}

section.description h1 {
    padding: 2rem 0;
    font-size: 1.75rem;
    text-align: center;
}

section.description hr {
    margin: 2.5rem auto 1rem;
    width: 50%;
}

section.description h2 {
    padding: 10px;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    margin-top: 4rem;
    text-decoration: underline;
}

section.description h3 {
    margin-top: 1.5rem;

}

section.description p {
    margin-bottom: 1rem;
}

section.description p.preview {
    margin: 2rem auto;
    text-decoration: underline;
    font-size: 1.2rem;
    color: #F38630;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

section.description div.user-function {
    width: 100%;
    text-align: center;
    padding-bottom: 3rem;
    border-bottom: 1px dashed #69D2E7;
}

section.description div.user-function > p {
    display: inline-block;
    padding: 13px;
    vertical-align: middle;
    margin: 3px;
}

section.description div.operator > p {
    width: 31%;
}

section.description div.foreman > p {
    width: 31%;
}

section.description div.rv > p {
    width: 45%;
}

div.demo-logins p {
    margin: 1px 0;
    text-align: left;
}

div.demo-logins {
    margin: 1.5rem;
}

section.description i.far,
section.description i.fas {
    font-size: 5rem;
    color: darkorange;

}
